<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412482129058-9v2b9fml4av394k9elnkl5065ev47ene.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412482129058-9v2b9fml4av394k9elnkl5065ev47ene</string>
	<key>API_KEY</key>
	<string>AIzaSyAAt5QHt2Jjt29uGZ46xnyO8vfqx-0RQQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>412482129058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wrapshots</string>
	<key>PROJECT_ID</key>
	<string>wrapshots-ac38a</string>
	<key>STORAGE_BUCKET</key>
	<string>wrapshots-ac38a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412482129058:ios:ef8f2825e824813cd19bfb</string>
</dict>
</plist>